@import "variables.scss";
header{
    .row h1{
        @include propiedadesflexcontainer(flex,center);
        padding-top: 80px;
        padding-bottom: 60px;
        color: rgb(255, 255, 255);
        font-family: 'Poppins', sans-serif;
    }
            .row p{
                padding: 0;
                margin: 5px;
                font-family: 'Poppins', sans-serif;
            }
            
            .row h5{
                padding-top: 50px;
                padding-bottom: 40px;
            }
            .row ul{
                list-style: none;
            }
                .row ul li{
                    padding-bottom: 15px;
                }
}



.wrap_Nosotros{
    width: 99vw;
    height: 100vh;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(to right, 
    rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)) , url(../img/nosotros-img.jpg);
    background-size: auto;
    background-position: center;
}

