.productosCss{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.card{
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 400ms ease;
}

.card-js{
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.40) 10px 10px 10px;
}

.btn-color{
    background-color:rgb(255, 220, 175);
}

.modal-content{
    width:900px;
    right: 250px;
}

.cardProductosEnCarrito{
    max-width: 800px;
}

.card-img-center{
    display: flex;
    border-radius: 20px;
}