* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body .container-fluid .bg-black {
  padding: 10px 0px 0px 0px; }

.container {
  padding: 60px 0px;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  background-color: white; }

.container-cards {
  padding: 60px 0px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  background-color: white; }

.container-exp {
  padding: 60px 0px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden; }

.background-color {
  background-color: white; }

.font1 {
  font-size: 70px; }

.container-box {
  background-color: black;
  box-sizing: border-box; }

.cards-css:hover {
  transform: translateY(-5%); }

.wrap {
  width: 99vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img-exp.jpg);
  background-size: auto;
  background-position: center; }

header .row h1 {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 60px;
  color: black;
  font-family: 'Poppins', sans-serif; }

header .img-nosotros {
  padding-bottom: 100px; }

header .row p {
  padding: 0;
  margin: 5px;
  font-family: 'Poppins', sans-serif; }

header .row h5 {
  padding-top: 50px;
  padding-bottom: 40px; }

header .row ul {
  list-style: none; }

header .row ul li {
  padding-bottom: 15px; }

.footer_nosotros {
  position: relative;
  margin-top: 30%; }

#body {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body .container-fluid .bg-black {
  padding: 10px 0px 0px 0px; }

.container {
  padding: 60px 0px;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
  background-color: white; }

.container-cards {
  padding: 60px 0px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  background-color: white; }

.container-exp {
  padding: 60px 0px;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden; }

.background-color {
  background-color: white; }

.font1 {
  font-size: 70px; }

.container-box {
  background-color: black;
  box-sizing: border-box; }

.cards-css:hover {
  transform: translateY(-5%); }

.wrap {
  width: 99vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: auto;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/img-exp.jpg);
  background-size: auto;
  background-position: center; }

header .form-label {
  width: 80px; }

header .formulario {
  border: solid 1px; }

header .formulario:hover {
  background-color: #f0e1ff; }

.navbar-nav {
  display: flex;
  margin: 0px 300px 0px 0px;
  align-content: center;
  align-items: center; }

.bi {
  margin: 0px 50px 0px 0px; }

.nav-link:hover {
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); }

.nav-link {
  border-radius: 10px; }

.margin {
  margin: 0px 10px; }

.nav-css {
  box-shadow: 0px 0px 15px 0px;
  height: 80px;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); }

@media (max-width: 1220px) {
  h2 {
    font-size: 17px; }
  h1 {
    font-size: 30px; } }

@media (max-width: 768px) {
  h2 {
    font-size: 12px; }
  h1 {
    font-size: 25px; } }

@media (max-width: 594px) {
  h2 {
    font-size: 10px; }
  h1 {
    font-size: 18px; } }

.div-formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.productosCss {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.card {
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 400ms ease; }

.card-js {
  font-family: 'Assistant', sans-serif;
  font-size: 15px; }

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.4) 10px 10px 10px; }

.btn-color {
  background-color: #ffdcaf; }

.modal-content {
  width: 900px;
  right: 250px; }

.cardProductosEnCarrito {
  max-width: 800px; }

.card-img-center {
  display: flex;
  border-radius: 20px; }
